<% provide(:title, @user.name) %>

<h1>タスク詳細</h1>

<div class="col-md-10 col-md-offset-1">
  <table class="table table-bordered", id="task-table">
    <tr>
      <th>ID</th>
      <td><%= @task.id %></td>
    </tr>
    <tr>
      <th>名称</th>
      <td><%= @task.name %></td>
    </tr>
    <tr>
      <th>詳細</th>
      <td><%= text_url_to_link(h(@task.note)).html_safe %></td>
    </tr>
    <tr>
      <th>作成日</th>
      <td><%= l(@task.created_at) %></td>
    </tr>  
    <tr>
      <th>更新日</th>
      <td><%= l(@task.updated_at) %></td>
    </tr>
  </table>
  <div class="button">
  <%= link_to "編集", edit_user_task_path(@task.user_id, @task.id), class: "btn btn-primary btn-lg" %>
  <%= link_to "削除", user_task_path(@task.user_id, @task.id), method: :delete, data: { confirm: "「#{@task.name}」を削除してよろしいですか？"}, class: "btn btn-danger btn-lg" %>
  </div>
</div>